body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #77c2ff;
}

.calculator {
    width: 300px;
    background-color: #8482fc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

#display {
    width: calc(100% - 40px);
    margin-bottom: 10px;
    padding: 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    color: white;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4740af;
    color: white;
}
